body{
    background-color: #f4f4f4;
    color: darkgrey;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;

    /*Same as above*/
    font: normal 18px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}

.Box-1{
    background-color: #333;
}